<accordion close-others="false">
	<accordion-group ng-repeat="optionattrgrp in selectedoptionattributegroups" is-open="true">
		<accordion-heading>
			<div class="accodian-heading-cap">
				{{optionattrgrp.groupName}}
			</div>
		</accordion-heading>
		<div ng-repeat="optionattr in optionattrgrp.productAtributes" class="labelCol vfLabelColTextWrap staticAttributesTd">
			<div class="staticAttributesLabelDiv">
				{{optionattr.fieldLabel}}
			</div>
			<div class="staticAttributesValuesDiv" ng-switch="optionattr.fieldType">
				<input ng-switch-when="text" type="text" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="number" type="number" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="checkbox" type="checkbox" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="date" type="date" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="datetime" type="datetime" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="time" type="time" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="url" type="url" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="email" type="email" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<select ng-switch-when="picklist" ng-options="o.value as o.key for o in optionattr.selectOptions" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"></select>
				<input ng-show="optionattr.fieldType == 'picklist' && selectedoptionpricingattributes[optionattr.fieldName] == 'Other'" type="text" class="inputWitdhAttr" ng-model="selectedoptionpricingattributes[optionattr.fieldName+'Other']"/>
			</div>
		</div>
	</accordion-group>
</accordion>
<!--<table ng-repeat="optionattrgrp in selectedoptionattributegroups" class="staticAttributesTable">
	<tr>
		<td class="customAttributeGrpName">{{optionattrgrp.groupName}}</td>
	</tr> 
	<tr ng-repeat="optionattr in optionattrgrp.productAtributes" class="staticAttributesTr">
		<td class="labelCol vfLabelColTextWrap staticAttributesTd">
			<div class="staticAttributesLabelDiv">
				{{optionattr.fieldLabel}}
			</div>
			<div class="staticAttributesValuesDiv" ng-switch="optionattr.fieldType">
				<input ng-switch-when="text" type="text" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="number" type="number" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="checkbox" type="checkbox" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="date" type="date" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="datetime" type="datetime" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="time" type="time" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="url" type="url" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<input ng-switch-when="email" type="email" ng-value="selectedoptionpricingattributes[optionattr.fieldName]" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"/>
				<select ng-switch-when="picklist" ng-options="o.value as o.key for o in optionattr.selectOptions" ng-model="selectedoptionpricingattributes[optionattr.fieldName]" class="inputWitdhAttr"></select>
				<input ng-show="optionattr.fieldType == 'picklist' && selectedoptionpricingattributes[optionattr.fieldName] == 'Other'" type="text" class="inputWitdhAttr" ng-model="selectedoptionpricingattributes[optionattr.fieldName+'Other']"/>
			</div>
		</td>
	</tr>
</table>-->