<div class="brandTertiaryBgr pbSubheaderAngular tertiaryPalette">
	<h3>Bundles &amp; Options</h3>
</div>
<div class="bundelOptionsNameDiv">
	<span>
		<li ng-repeat="optiongroup in currentproductoptiongroups">
			<a ng-click="gotosection(optiongroup.groupName)">{{optiongroup.groupName}}</a>
		</li>
	</span>
</div><br/>
<accordion close-others="false">
	<accordion-group ng-repeat="optiongroup in currentproductoptiongroups" is-open="true">
		<accordion-heading>
			<div class="accodian-heading-cap">
				<a id="{{optiongroup.groupName}}"></a>{{optiongroup.groupName}}
				<div ng-show="optiongroup.isError" class="alert-box error">
					<span>error: </span>
					{{optiongroup.errorMessage}}
				</div>
			</div>
		</accordion-heading>
		<table>
			<tr class="row" ng-repeat="pcomponent in optiongroup.productOptionComponents | filter: {isActive: true}">
				<td class="col-sm-1">
					<div ng-show="optiongroup.ischeckbox" id="opCheckbox">
						<input type="checkbox" ng-change="renderoptionproductattributes(pcomponent, $parent.$index)" ng-model="pcomponent.isselected">
						</input>
					</div>
					<div ng-show="!optiongroup.ischeckbox" id="opRadio">
						<input ng-click="renderoptionproductattributes(pcomponent, $parent.$index)" type="radio" ng-model="optiongroup.selectedproduct" ng-value="pcomponent.productId">
						</input>
					</div>
				</td>
				<td class="col-sm-8">
					<div>
						<a href="#" title="Configure {{pcomponent.productName}}" ng-click="rendercurrentproductoptiongroups(null, pcomponent, $parent.$index)" ng-show="pcomponent.hasOptions">
							<img src="{{imagesbaseURL}}/Apttus_Config2_Configure_bundle.png" alt="Configure"/>
						</a>
						<a target="_blank" href="/{{pcomponent.productId}}">
							{{pcomponent.productName}}
						</a>
					</div>
				</td>
				<td class="col-sm-2">
					<div ng-show="pcomponent.componentId != null" style="float:left;display:inline">
						<span style="padding-left: 4px; padding-right: 2px;display:inline;">Qty</span>
						<input type="number" style="text-align: right; width:3em;" ng-model="pcomponent.quantity" ng-change="changeQuantity(pcomponent)"/>
					</div>
				</td>
				<td class="col-sm-1">
					<a ng-show="pcomponent.componentId != null && pcomponent.hasAttributes" href="#" title="Configure Attributes" ng-click="selectProductrenderoptionproductattributes(pcomponent, $parent.$index)">
						<img src="{{imagesbaseURL}}/Apttus_Config2_configure_attributes.png"/>
					</a>
				</td>
			</tr>
		</table>
	</accordion-group>
</accordion>

<!--<table class="optionBundleTable" id="optionBundleTable" ng-repeat="optiongroup in currentproductoptiongroups">
	<tr>
		<th colspan="3" class="optionNameTableTr"> <a id="{{optiongroup.groupName}}"></a>{{optiongroup.groupName}}<div ng-show="optiongroup.isError" class="alert-box error"><span>error: </span>{{optiongroup.errorMessage}}</div></th>
	</tr>
	<tr class="lineItem-" ng-repeat="pcomponent in optiongroup.productOptionComponents | filter: {isActive: true}">
		<td class="optionSelectCheckbox">
			<div ng-show="optiongroup.ischeckbox" id="opCheckbox">
				<input ng-change="renderoptionproductattributes(pcomponent, $parent.$index)" type="checkbox" ng-model="pcomponent.isselected" ng-checked="pcomponent.isselected">
				</input>
			</div>
			<div ng-show="!optiongroup.ischeckbox" id="opRadio">
				<input ng-click="renderoptionproductattributes(pcomponent, $parent.$index)" type="radio" ng-model="optiongroup.selectedproduct" ng-value="pcomponent.productId">
				</input>
			</div>
		</td>
		<td class="optionNameTrForName">
			<div>
				<a href="#" ng-click="rendercurrentproductoptiongroups(null, pcomponent, $parent.$index, true)" ng-show="pcomponent.hasOptions">
					<img src="{{imagesbaseURL}}/Apttus_Config2__Image_Configure.png" alt="Configure"/>
				</a>
				<a target="_blank" href="/{{pcomponent.productId}}">
					{{pcomponent.productName}}
				</a>
			</div>
		</td>
		<td class="optionNameTrForQty">
			<div ng-show="pcomponent.componentId != null" style="float:left;display:inline">
				<span style="padding-left: 4px; padding-right: 2px;display:inline;">Qty</span>
				<input style="text-align: right; width:3em;" type="number" ng-model="pcomponent.quantity" ng-value="pcomponent.quantity"/>
			</div>
		</td>
		<td class="optionNameAttributeConfigIcon">
			<a ng-show="pcomponent.componentId != null && pcomponent.hasAttributes" href="#" title="Configure" ng-click="renderoptionproductattributes(pcomponent, $parent.$index)">
				<img src="{{imagesbaseURL}}/Apttus_Config2__Image_Attributes.png"/>
			</a>
		</td>
	</tr>
</table>-->