<nav class="navbar navbar-fixed-bottom navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-form">
            <div class="navbar-center">
                <button class="btn btn-success" ng-click="AddMoreProducts()">Add More Products</button>
                <button class="btn btn-success" ng-click="launch('confirmRemoveItem')">Remove Item</button>
                <button class="btn btn-success" ng-click="GoToPricing()">Go to Pricing</button>
                <button class="btn btn-success" ng-click="launch('confirmAbandon')">Abandon</button>
            </div>
            <div class="navbar-right">
                <a href="#">
                    <img src="{{imagesbaseURL}}/CenturyLinkBusinessLogo_PNG.png" alt="CenturyLink" title="CenturyLink" class="ctlLogo"/>
                </a>
            </div>
        </div>
    </div>
</nav>