<nav class="navbar navbar-fixed-top navbar-default navbar-cap" role="navigation">
    <div class="container-fluid">
        <div class="navbar-form">
            <ul class="nav navbar-nav">
                <li>
                    <strong>Proposal:</strong>
                    <span>
                        <a href="/{{QuoteId}}" target="_blank" style="text-decoration: underline;">{{QuoteNumber}}</a>&nbsp;
                        <span>{{QuoteName}}</span>
                    </span>        
                </li>
                <li>
                    <strong>
                        Approval Status:
                    </strong>
                    <span>{{ApprovalStatus}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right cart-menu">
                <li onClick="openCart();">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Cart (<span id="aptAddCartItemCount"></span>)
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </li>
            </ul>
        </div>
    </div>
</nav>