<html>   
    <body>
        <!-- =========== Binding Controller to Body of Page ============= -->
        <div id="MainWrap">
            <table class="pricingMatrixTable">
                <thead>
                    <tr class="angularPricingTableHead">
                        <div ng-repeat="field in fields">
                            <td ng-repeat="(fielapi, fieldlabel) in fieldsmap" class="no-spacing">{{fieldlabel}}</td>
                            <td class="no-spacing">Price</td>
                        </div>
                    </tr>
                </thead>
                <tfoot>                        
                    <div class="pricingPagination">
                        <div ng-switch="currentPage != 0" class="pricingInlineBlock">
                            <div ng-switch-when="true">
                                <a href="#" ng-click="firstPage()">
                                    <img src="{{imagesbaseURL}}/Apttus_Config2__Image_FirstPage.png" class="pricingVerticalAlign"/>
                                </a>
                            </div>
                            <div ng-switch-when="false">
                                <img src="{{imagesbaseURL}}/Apttus_Config2__Image_FirstPageGray.png" class="pricingVerticalAlign"/>
                            </div>
                        </div>
                        <div ng-switch="currentPage != 0" class="pricingInlineBlock">
                            <div ng-switch-when="true">
                                <a href="#" ng-click="prevPage()">
                                    <img src="{{imagesbaseURL}}/Apttus_Config2__Image_Previous.png" class="pricingVerticalAlign"/>
                                </a>
                            </div>
                            <div ng-switch-when="false">
                                <img src="{{imagesbaseURL}}/Apttus_Config2__Image_PreviousGray.png" class="pricingVerticalAlign"/>
                            </div>
                        </div>
                        <span class="pricingVerticalAlign">Page: {{ pagedItems.length > 0 ? currentPage + 1 : 0}} of {{ pagedItems.length }}</span>
                        <div ng-switch="currentPage != pagedItems.length - 1 && pagedItems.length != 0" class="pricingInlineBlock">
                            <div ng-switch-when="true">
                                <a href="#" ng-click="nextPage()">
                                    <img src="{{imagesbaseURL}}/Apttus_Config2__Image_Next.png" class="pricingVerticalAlign"/>
                                </a>
                            </div>
                            <div ng-switch-when="false">
                                <img src="{{imagesbaseURL}}/Apttus_Config2__Image_NextGray.png" class="pricingVerticalAlign"/>
                            </div>
                        </div>
                        <div ng-switch="currentPage != pagedItems.length - 1 && pagedItems.length != 0" class="pricingInlineBlock">
                            <div ng-switch-when="true">
                                <a href="#" ng-click="lastPage()">
                                    <img src="{{imagesbaseURL}}/Apttus_Config2__Image_LastPage.png" class="pricingVerticalAlign"/>
                                </a>
                            </div>
                            <div ng-switch-when="false">
                                <img src="{{imagesbaseURL}}/Apttus_Config2__Image_LastPageGray.png" class="pricingVerticalAlign"/>
                            </div>
                        </div>
                    </div>
                </tfoot>
                <tbody class="pricingTbody">
                    <tr ng-repeat="item in pagedItems[currentPage]" class="angularPricingMtr">
                        <td ng-repeat="(fielapi, fieldlabel) in fieldsmap" class="border-bottomPricing">{{item.pav[fielapi]}}</td>
                        <td class="border-bottomPricing">{{item.pav['Price__c']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>