<accordion close-others="false">
	<accordion-group is-open="true" ng-repeat="attributeGroup in AttributeGroups">
		<accordion-heading>
			<div class="accodian-heading-cap">
				{{attributeGroup.groupName}}
			</div>
		</accordion-heading>
		<div ng-repeat="optionattr in attributeGroup.productAtributes">
			<div>
				<div class="staticAttributesLabelDiv">
					{{optionattr.fieldLabel}}
				</div>
				<div ng-switch="optionattr.fieldType">
					<input ng-switch-when="text" type="text" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="number" type="number" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="checkbox" type="checkbox" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="date" type="date" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="datetime" type="datetime" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="time" type="time" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="url" type="url" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<input ng-switch-when="email" type="email" ng-value="productAttributeValues[optionattr.fieldName]" ng-model="productAttributeValues[optionattr.fieldName]" />
					<select ng-switch-when="picklist" ng-options="o.value as o.key for o in optionattr.selectOptions" ng-model="productAttributeValues[optionattr.fieldName]" ></select>
					<input ng-show="optionattr.fieldType == 'picklist' && productAttributeValues[optionattr.fieldName] == 'Other'" type="text"  ng-model="productAttributeValues[optionattr.fieldName+'Other']"/>
				</div>
			</div>
		</div>
	</accordion-group>
</accordion>